<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @assembly.product %>
</p>

<p>
  <strong>Material:</strong>
  <%= @assembly.material %>
</p>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
